Z3Flow/Microsoft.Flow/flows/bbb19873-52d3-4a24-9fa6-8767240177eb/definition.json
{"name":"b8f354a2-3378-4c20-8196-f00e176f0172","id":"/providers/Microsoft.Flow/flows/b8f354a2-3378-4c20-8196-f00e176f0172","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"KPIWrite","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"ce378633-d75a-45da-adc3-8263d3d702a6","type":"User","tenantId":"230d93f3-1c3d-498d-8012-f52c78c01b1d"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-02-21T13:17:46.0098553Z","connectionKeySavedTimeKey":"2025-02-21T13:17:46.0098553Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"undefined","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"87b031e9-1cf5-436a-8124-8472045a69ef"},"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Apply_to_each_oaa":{"foreach":"@outputs('List_rows_present_oaa')?['body/value']","actions":{"Apply_to_eachdate":{"foreach":"@variables('OADay')","actions":{"Get_items_oaa":{"runAfter":{"Compose_oaaFinishData":["Succeeded"]},"metadata":{"operationMetadataId":"c1264d84-a11d-4fdf-b241-762cd5805149"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://apmmtab.sharepoint.com/sites/zone3","table":"8c4560c5-ab02-448b-9ba0-57386d3ad8d5","$filter":"Title eq '@{outputs('Compose_PartA')}' and field_0 eq '@{outputs('Compose_oaaDate')}' and field_3 eq 'A'"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Condition_oaa":{"actions":{"Update_item":{"metadata":{"operationMetadataId":"8127ac85-9b01-4736-b90a-29d50f7e1863"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://apmmtab.sharepoint.com/sites/zone3","table":"8c4560c5-ab02-448b-9ba0-57386d3ad8d5","id":"@body('Get_items_oaa')?['value'][0]['ID']\n","item/Title":"@outputs('Compose_PartA')","item/field_0":"@trim(outputs('Compose_oaaDate'))","item/field_2":"@outputs('Compose_oaaDate')","item/field_3":"A","item/Build":"@trim(outputs('Compose_oaaBuildData'))","item/Finish":"@outputs('Compose_oaaFinishData')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"Get_items_oaa":["Succeeded"]},"else":{"actions":{"Create_item_oaa":{"metadata":{"operationMetadataId":"3f5b529f-15fb-4607-8d79-e72067fd5109"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://apmmtab.sharepoint.com/sites/zone3","table":"8c4560c5-ab02-448b-9ba0-57386d3ad8d5","item/Title":"@outputs('Compose_PartA')","item/field_0":"@trim(outputs('Compose_oaaDate'))","item/field_2":"@outputs('Compose_OAData')","item/field_3":"A","item/Build":"@trim(outputs('Compose_oaaBuildData'))","item/Finish":"@outputs('Compose_oaaFinishData')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"expression":{"and":[{"greater":["@length(outputs('Get_items_oaa')?['body/value'])",0]}]},"metadata":{"operationMetadataId":"8bbd5583-3d9f-4214-98d9-c47c436e625a"},"type":"If"},"Set_variable_OACurrent":{"metadata":{"operationMetadataId":"20d5f483-b845-4e27-afb5-28531c9baa27"},"type":"SetVariable","inputs":{"name":"OACurrent","value":"@items('Apply_to_eachdate')"}},"Compose_OAData":{"runAfter":{"Compose_oaaDate":["Succeeded"]},"metadata":{"operationMetadataId":"f2f6fa96-56f4-4848-b212-211ceb43cb44"},"type":"Compose","inputs":"@trim(items('Apply_to_each_oaa')?[string(item())])"},"Compose_PartA":{"runAfter":{"Compose_OAData":["Succeeded"]},"metadata":{"operationMetadataId":"1b5ae60f-d005-485e-9c03-0362f3b1f649"},"type":"Compose","inputs":"@trim(items('Apply_to_each_oaa')?['Part'])"},"Compose_oaaDate":{"runAfter":{"Set_variable_OACurrent":["Succeeded"]},"metadata":{"operationMetadataId":"fb7f7d1f-72e1-4082-9316-7aac0f3cac3e"},"type":"Compose","inputs":"@concat(variables('OAMonth'),'-',variables('OACurrent'),'-',variables('OAYear'))"},"Compose_oaaBuildData":{"runAfter":{"Filter_oaabuild_PartA":["Succeeded"]},"metadata":{"operationMetadataId":"3e8b128a-f98f-4981-8547-626754ae0292"},"type":"Compose","inputs":"@if(empty(body('Filter_oaabuild_PartA')), null, first(body('Filter_oaabuild_PartA'))?[variables('OACurrent')])"},"Compose_oaaFinishData":{"runAfter":{"Filter_oaaFinish_PartA":["Succeeded"]},"metadata":{"operationMetadataId":"e022ddb0-2f78-44f8-959e-73a6556f69e2"},"type":"Compose","inputs":"@if(empty(body('Filter_oaaFinish_PartA')), null, first(body('Filter_oaaFinish_PartA'))?[variables('OACurrent')])"},"Filter_oaabuild_PartA":{"runAfter":{"Compose_PartA":["Succeeded"]},"type":"Query","inputs":{"from":"@outputs('List_rows_present_oaabuild')?['body/value']","where":"@equals(item()?['Part'],outputs('Compose_PartA'))"}},"Filter_oaaFinish_PartA":{"runAfter":{"Compose_oaaBuildData":["Succeeded"]},"type":"Query","inputs":{"from":"@outputs('List_rows_present_oaaFinish')?['body/value']","where":"@equals(item()?['Part'],outputs('Compose_PartA'))"}}},"metadata":{"operationMetadataId":"83d5f3bb-06f5-487e-a44a-cfed38990092"},"type":"Foreach"}},"runAfter":{"Initialize_OACurrent":["Succeeded"]},"metadata":{"operationMetadataId":"dfc59c23-bf12-4ab3-b5d2-6e9cf7626434"},"type":"Foreach"},"List_rows_present_date":{"runAfter":{},"metadata":{"01S3URPTCV3XOYQ4JBV5DIOO53X5OO45RF":"/UnifiedKPI/KPI.xlsx","tableId":"{36643325-B199-40D0-B185-751DD743A5AD}","operationMetadataId":"b6fa931e-0990-44cf-913d-03f4fd5e5c39"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"groups/5d37d999-f155-4cfd-9065-0aa891e6f9b0","drive":"b!PTIaqBFkrkm6EAhJ4HPpYtsOz3lrqtpFqCvqdASILk-chGS9oh7AQIg555Rn3y0J","file":"01S3URPTCV3XOYQ4JBV5DIOO53X5OO45RF","table":"{36643325-B199-40D0-B185-751DD743A5AD}"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"List_rows_present_oaa":{"runAfter":{"List_rows_present_date":["Succeeded"]},"metadata":{"01S3URPTCV3XOYQ4JBV5DIOO53X5OO45RF":"/UnifiedKPI/KPI.xlsx","tableId":"{486CBEA3-55E7-4C38-88EC-F14CFD940430}","operationMetadataId":"0bb6d7d0-d7ca-4e7b-ae42-fb4534835ad2"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"groups/5d37d999-f155-4cfd-9065-0aa891e6f9b0","drive":"b!PTIaqBFkrkm6EAhJ4HPpYtsOz3lrqtpFqCvqdASILk-chGS9oh7AQIg555Rn3y0J","file":"01S3URPTCV3XOYQ4JBV5DIOO53X5OO45RF","table":"{486CBEA3-55E7-4C38-88EC-F14CFD940430}"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"List_rows_present_oab":{"runAfter":{"List_rows_present_date":["Succeeded"]},"metadata":{"01S3URPTCV3XOYQ4JBV5DIOO53X5OO45RF":"/UnifiedKPI/KPI.xlsx","tableId":"{44B70A14-23CB-4874-B263-EE13974CE03F}","operationMetadataId":"fb260df3-a7be-43b0-a46a-7f2e64818e8b"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"groups/5d37d999-f155-4cfd-9065-0aa891e6f9b0","drive":"b!PTIaqBFkrkm6EAhJ4HPpYtsOz3lrqtpFqCvqdASILk-chGS9oh7AQIg555Rn3y0J","file":"01S3URPTCV3XOYQ4JBV5DIOO53X5OO45RF","table":"{44B70A14-23CB-4874-B263-EE13974CE03F}"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Initialize_OACurrent":{"runAfter":{"Initialize_OADay":["Succeeded"]},"metadata":{"operationMetadataId":"47b448f0-dd6a-4637-bf8e-3fbee2a94785"},"type":"InitializeVariable","inputs":{"variables":[{"name":"OACurrent","type":"string"}]}},"Initialize_OABCurrent":{"runAfter":{"Initialize_OABDay":["Succeeded"]},"metadata":{"operationMetadataId":"04995a52-bcea-4a57-86e6-08bc8e099008"},"type":"InitializeVariable","inputs":{"variables":[{"name":"OABCurrent","type":"string"}]}},"Apply_to_each_oab":{"foreach":"@outputs('List_rows_present_oab')?['body/value']","actions":{"Apply_to_eachdateb":{"foreach":"@variables('OABDay')","actions":{"Get_items_oab":{"runAfter":{"Compose_oabFinishData":["Succeeded"]},"metadata":{"operationMetadataId":"76b95537-b8a9-4802-88b2-674043df1e2e"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://apmmtab.sharepoint.com/sites/zone3","table":"8c4560c5-ab02-448b-9ba0-57386d3ad8d5","$filter":"Title eq '@{outputs('Compose_PartB')}' and field_0 eq '@{outputs('Compose_oabDate')}' and field_3 eq 'B'"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Condition_oab":{"actions":{"Update_item_b":{"metadata":{"operationMetadataId":"603bf423-375e-4824-bb28-7f0bb2729ad7"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://apmmtab.sharepoint.com/sites/zone3","table":"8c4560c5-ab02-448b-9ba0-57386d3ad8d5","id":"@body('Get_items_oab')?['value'][0]['ID']\r\n","item/Title":" @{outputs('Compose_PartB')}","item/field_0":"@trim(outputs('Compose_oabDate'))","item/field_2":"@outputs('Compose_OABData')","item/field_3":"B","item/Build":"@trim(outputs('Compose_oabBuildData'))","item/Finish":"@outputs('Compose_oabFinishData')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"Get_items_oab":["Succeeded"]},"else":{"actions":{"Create_item_oab":{"metadata":{"operationMetadataId":"22e0ccfe-6466-49a0-bb28-adeb2a7342b8"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://apmmtab.sharepoint.com/sites/zone3","table":"8c4560c5-ab02-448b-9ba0-57386d3ad8d5","item/Title":"@outputs('Compose_PartB')","item/field_0":"@trim(outputs('Compose_oabDate'))","item/field_2":"@outputs('Compose_OABData')","item/field_3":"B","item/Build":"@trim(outputs('Compose_oabBuildData'))","item/Finish":"@outputs('Compose_oabFinishData')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"expression":{"and":[{"greater":["@length(outputs('Get_items_oab')?['body/value'])",0]}]},"metadata":{"operationMetadataId":"c9e0ed42-9f56-42e7-a39b-0b6fbe6726bd"},"type":"If"},"Set_variable_OABCurrent":{"metadata":{"operationMetadataId":"3d7baa12-b363-4a94-ad5c-ec6e178c279a"},"type":"SetVariable","inputs":{"name":"OABCurrent","value":"@items('Apply_to_eachdateb')"}},"Compose_OABData":{"runAfter":{"Compose_oabDate":["Succeeded"]},"metadata":{"operationMetadataId":"5ea86210-bf36-4d91-874a-99b77d22dca4"},"type":"Compose","inputs":"@trim(items('Apply_to_each_oab')?[string(item())])"},"Compose_PartB":{"runAfter":{"Compose_OABData":["Succeeded"]},"metadata":{"operationMetadataId":"4a69e62e-4936-4bb5-a641-060c0c82f6c1"},"type":"Compose","inputs":"@trim(items('Apply_to_each_oab')?['Part'])"},"Compose_oabDate":{"runAfter":{"Set_variable_OABCurrent":["Succeeded"]},"metadata":{"operationMetadataId":"f38454dc-8420-46a0-bdb0-16885d884916"},"type":"Compose","inputs":"@concat(variables('OAMonth'),'-',variables('OABCurrent'),'-',variables('OAYear'))"},"Compose_oabBuildData":{"runAfter":{"Filter_oabbuild_PartB":["Succeeded"]},"metadata":{"operationMetadataId":"46dcdc74-9b9f-45f2-8068-2a575321dda2"},"type":"Compose","inputs":"@if(empty(body('Filter_oabbuild_PartB')), null, first(body('Filter_oabbuild_PartB'))?[variables('OABCurrent')])"},"Compose_oabFinishData":{"runAfter":{"Filter_oabFinish_PartB":["Succeeded"]},"metadata":{"operationMetadataId":"7d5a7ccf-0b1c-4781-8c03-31f79823ed77"},"type":"Compose","inputs":"@if(empty(body('Filter_oabFinish_PartB')), null, first(body('Filter_oabFinish_PartB'))?[variables('OABCurrent')])"},"Filter_oabbuild_PartB":{"runAfter":{"Compose_PartB":["Succeeded"]},"type":"Query","inputs":{"from":"@outputs('List_rows_present_oabbuild')?['body/value']","where":"@equals(item()?['Part'],outputs('Compose_PartB'))"}},"Filter_oabFinish_PartB":{"runAfter":{"Compose_oabBuildData":["Succeeded"]},"type":"Query","inputs":{"from":"@outputs('List_rows_present_oabFinish')?['body/value']","where":"@equals(item()?['Part'],outputs('Compose_PartB'))"}}},"metadata":{"operationMetadataId":"84d1f5e9-2916-44de-8009-aadcc88bfa9f"},"type":"Foreach"}},"runAfter":{"Initialize_OABCurrent":["Succeeded"]},"metadata":{"operationMetadataId":"04309a08-c10e-46ce-8518-e507588cc653"},"type":"Foreach"},"Initialize_OADay":{"runAfter":{"Initialize_OAYear":["Succeeded"]},"metadata":{"operationMetadataId":"778f81f4-e97d-4545-b6f9-592348ded72e"},"type":"InitializeVariable","inputs":{"variables":[{"name":"OADay","type":"array","value":["1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24","25","26","27","28","29","30","31"]}]}},"Initialize_OAYear":{"runAfter":{"Initialize_OAMonth":["Succeeded"]},"metadata":{"operationMetadataId":"2a7cae64-3624-4d66-8dc4-0d28ad5c5d5f"},"type":"InitializeVariable","inputs":{"variables":[{"name":"OAYear","type":"string","value":"@trim(body('List_rows_present_date')?['value'][0]['Year_x003a_'])"}]}},"Initialize_OAMonth":{"runAfter":{"List_rows_present_oaaFinish":["Succeeded"]},"metadata":{"operationMetadataId":"3deb4683-9331-4c41-a362-2ce9275ac70c"},"type":"InitializeVariable","inputs":{"variables":[{"name":"OAMonth","type":"string","value":" @{trim(body('List_rows_present_date')?['value'][0]['Month_x003a_'])}"}]}},"Initialize_OABMonth":{"runAfter":{"List_rows_present_oabFinish":["Succeeded"]},"metadata":{"operationMetadataId":"d5633d0e-d56c-4784-8e31-26cf61ee1b98"},"type":"InitializeVariable","inputs":{"variables":[{"name":"OABMonth","type":"string","value":" @{body('List_rows_present_date')?['value'][0]['Month_x003a_']}"}]}},"Initialize_OABYear":{"runAfter":{"Initialize_OABMonth":["Succeeded"]},"metadata":{"operationMetadataId":"6633a6e0-fb46-422d-80ae-8b90abb05652"},"type":"InitializeVariable","inputs":{"variables":[{"name":"OABYear","type":"string","value":"@body('List_rows_present_date')?['value'][0]['Year_x003a_']"}]}},"Initialize_OABDay":{"runAfter":{"Initialize_OABYear":["Succeeded"]},"metadata":{"operationMetadataId":"8bcb8027-76c6-45b2-ba52-5eb43c4f4cb3"},"type":"InitializeVariable","inputs":{"variables":[{"name":"OABDay","type":"array","value":["1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24","25","26","27","28","29","30","31"]}]}},"List_rows_DT":{"runAfter":{"List_rows_present_date":["Succeeded"]},"metadata":{"01S3URPTCV3XOYQ4JBV5DIOO53X5OO45RF":"/UnifiedKPI/KPI.xlsx","tableId":"{D9823469-DE46-45BD-B178-D36408B48349}","operationMetadataId":"866c74ca-3a71-4aa9-97fc-d44eee86cd05"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"groups/5d37d999-f155-4cfd-9065-0aa891e6f9b0","drive":"b!PTIaqBFkrkm6EAhJ4HPpYtsOz3lrqtpFqCvqdASILk-chGS9oh7AQIg555Rn3y0J","file":"01S3URPTCV3XOYQ4JBV5DIOO53X5OO45RF","table":"{D9823469-DE46-45BD-B178-D36408B48349}"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Apply_to_each_DT":{"foreach":"@outputs('List_rows_DT')?['body/value']","actions":{"Create_item_DT":{"metadata":{"operationMetadataId":"00ec82cc-915d-4c02-96fd-26195e70561b"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://apmmtab.sharepoint.com/sites/zone3","table":"b2394210-96c0-47b1-b581-815caa17ed09","item/Title":"@item()?['Process']","item/field_0":"@item()?['Date']","item/Shift":"@item()?['Shift']","item/field_2":"@item()?['Investigate']","item/field_3":"@item()?['Training']","item/field_4":"@item()?['5S']","item/field_5":"@item()?['Manchange']","item/field_6":"@item()?['Chuter']","item/field_7":"@item()?['JigSensor']","item/field_8":"@item()?['JigPin']","item/field_9":"@item()?['JigClamp']","item/field_10":"@item()?['RobotFault']","item/field_11":"@item()?['WaterFault']","item/field_12":"@item()?['Reformer']","item/field_13":"@item()?['Lightcurtain']","item/field_14":"@item()?['Robotnavi']","item/field_15":"@item()?['Nutwelder']","item/field_16":"@item()?['Racks']","item/field_17":"@item()?['LogPart']","item/field_18":"@item()?['StampPart']","item/field_19":"@item()?['DefectPart']","item/field_20":"@item()?['Data']","item/field_21":"@item()?['OTHER']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"List_rows_DT":["Succeeded"]},"metadata":{"operationMetadataId":"8b165add-8186-45f4-ab3c-f93b180098ee"},"type":"Foreach"},"List_rows_present_oaabuild":{"runAfter":{"List_rows_present_oaa":["Succeeded"]},"metadata":{"01S3URPTCV3XOYQ4JBV5DIOO53X5OO45RF":"/UnifiedKPI/KPI.xlsx","tableId":"{7565CD42-D91C-4B93-A722-AF2E931E7F64}","operationMetadataId":"72f4bc42-a8b4-4ca9-bd8b-b3c1f6a6bce6"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"groups/5d37d999-f155-4cfd-9065-0aa891e6f9b0","drive":"b!PTIaqBFkrkm6EAhJ4HPpYtsOz3lrqtpFqCvqdASILk-chGS9oh7AQIg555Rn3y0J","file":"01S3URPTCV3XOYQ4JBV5DIOO53X5OO45RF","table":"{7565CD42-D91C-4B93-A722-AF2E931E7F64}"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"List_rows_present_oabbuild":{"runAfter":{"List_rows_present_oab":["Succeeded"]},"metadata":{"01S3URPTCV3XOYQ4JBV5DIOO53X5OO45RF":"/UnifiedKPI/KPI.xlsx","tableId":"{2078514E-B985-4024-866D-7AF7DAA42924}","operationMetadataId":"5b553be8-62ff-4714-a716-41d57d6bf3f1"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"groups/5d37d999-f155-4cfd-9065-0aa891e6f9b0","drive":"b!PTIaqBFkrkm6EAhJ4HPpYtsOz3lrqtpFqCvqdASILk-chGS9oh7AQIg555Rn3y0J","file":"01S3URPTCV3XOYQ4JBV5DIOO53X5OO45RF","table":"{2078514E-B985-4024-866D-7AF7DAA42924}"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"List_rows_present_oaaFinish":{"runAfter":{"List_rows_present_oaabuild":["Succeeded"]},"metadata":{"01S3URPTCV3XOYQ4JBV5DIOO53X5OO45RF":"/UnifiedKPI/KPI.xlsx","tableId":"{B1C0C120-8C59-492C-BFE9-20E6DA573A62}","operationMetadataId":"cb129996-7ea2-48f9-b282-93f96a6028ea"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"groups/5d37d999-f155-4cfd-9065-0aa891e6f9b0","drive":"b!PTIaqBFkrkm6EAhJ4HPpYtsOz3lrqtpFqCvqdASILk-chGS9oh7AQIg555Rn3y0J","file":"01S3URPTCV3XOYQ4JBV5DIOO53X5OO45RF","table":"{B1C0C120-8C59-492C-BFE9-20E6DA573A62}"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"List_rows_present_oabFinish":{"runAfter":{"List_rows_present_oabbuild":["Succeeded"]},"metadata":{"01S3URPTCV3XOYQ4JBV5DIOO53X5OO45RF":"/UnifiedKPI/KPI.xlsx","tableId":"{ED44F98D-2593-4C22-BEEF-F45018826F07}","operationMetadataId":"5e243556-6a2b-472f-987b-c011d773e73f"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"groups/5d37d999-f155-4cfd-9065-0aa891e6f9b0","drive":"b!PTIaqBFkrkm6EAhJ4HPpYtsOz3lrqtpFqCvqdASILk-chGS9oh7AQIg555Rn3y0J","file":"01S3URPTCV3XOYQ4JBV5DIOO53X5OO45RF","table":"{ED44F98D-2593-4C22-BEEF-F45018826F07}"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"e25560dbcdf74434aae9cdb626b91645","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline"},"shared_excelonlinebusiness":{"connectionName":"shared-excelonlinebu-01b28469-fc35-48f2-8860-357c2dca9bb9","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified","apiName":"excelonlinebusiness"}},"flowFailureAlertSubscribed":false,"isManaged":false}}